/* Varibles */

:root {
    --main-bg-color: #363636;
    --item-bg-color: #242424;
}

body {
    animation: articleflyinbody .75s linear 0s 1;
    background-color: var(--main-bg-color);
    color:#000000;
    font-family: sans-serif;
    margin: 0px;
    margin-bottom: 24px;
}
a {
    text-decoration: none;
    cursor: pointer;
}
header{
    display: flex;
    flex-direction: column;
    align-items:center; 
    background-color: var(--item-bg-color);
    /*height: 135px;*/
}
article{
    animation: articleflyin .75s linear 0s 1;
    display: flex;
    flex-direction: column-reverse;
    color:#7735ad;
    align-items: center;
}

.post {
    background-color: var(--item-bg-color);
    margin: 24px;
    margin-bottom: 0px;
    padding: 15px, 1.5vw, 15px, 1.5vw;
    border-radius: 25px;
    max-width: 1000px;
}
.postcontent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 0px;
    flex-wrap: nowrap;
}
.postlink {
    text-align: center;
    font-weight: bold; 
}
.postlink a {
    color: var(--item-bg-color);
    padding: 5px;
    background-color: #7735ad; 
    border-radius: 10px;
    margin: 3px;
}
.postlink a:hover {
    animation: postlink .2s linear 0s 1;
    background-color: #7735ad; 
    border-radius: 10px;
    color: #65ff98;
}

.postimage {
    border: 3px solid #7735ad;
    margin: 12px;
    align-self: center;
    max-width: 40vh;
}
.image {
    width: 100%;
}
p {
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
}
h1 {
    margin: 0px;
    font-size: 3em;  
}
h1, h2, h3{
    color: #7735ad;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-size: 2em;
    margin: .75vw;
}
#links svg {
    fill: #7735ad;
}
#links div {
    width: 2.8em;
    padding: 6px;
}
#links{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}
.navbaritem a {
    text-decoration: none;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: bold; 
    color: #7735ad;
}
.navbaritem {
    padding: 10px;
    background-color: var(--item-bg-color);
}
.navbaritem:hover{
    animation: border .2s linear 0s 1;
    padding: 4px;
    border: 6px solid #7735ad
}

#activepage:hover {
    animation: borderactive .2s linear 0s 1;
    padding: 4px;
    border: 6px solid #7735ad;
}
#activepage {
    padding: 4px;
    border: 6px solid #7735ad;
    color: #7735ad;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--item-bg-color);
}

/*Animations*/

@keyframes border {
    from {border: 0px solid #7735ad; padding: 10px; color:}
    to {border: 6px solid #7735ad; padding: 4px;}
}

@keyframes borderactive {
    from {border: 6px solid #7735ad; padding: 4px;}
    to {border: 6px solid #7735ad; padding: 4px;}
}

@keyframes postlink {
    from {background-color: #7735ad; border-radius: 10px; color: var(--item-bg-color);}
    to {background-color: #7735ad; border-radius: 10px; color: #65ff98;}
}

@keyframes articleflyin {
    0% {
        margin-top: 150vw;

    }
    25% {
        margin-top: 70vw;
    }
    50% {
        margin-top: 30vw;
    }
    75% {
        margin-top: 10vw;
    }
    100% {
        margin-top: 0px;
    }
}

@keyframes articleflyinbody {
    0% {
        overflow: hidden;
    }
    90% {
        overflow: hidden;
    }
    100% {
        margin-top: 0px;
        overflow: auto;
    }
}


