body {
    background-color: #dbdbdb;
    color:#000000;
    font-family: sans-serif;
    margin: 0px;
    margin-bottom: 24px;
}
header{
    display: flex;
    flex-direction: column;
    align-items:center; 
    background-color: #ececec;
    /*height: 135px;*/
}
article{
    animation: articleflyin .75s linear 0s 1;
    display: flex;
    flex-direction: column-reverse;
    color:#7735ad;
    align-items: center;
}
@keyframes articleflyin {
    0% {margin-top: 150vw;}
    25% {margin-top: 70vw;}
    50% {margin-top: 30vw;}
    75% {margin-top: 10vw;}
    100% {margin-top: 0px;}
}
.post {
    background-color: #ececec;
    margin: 24px;
    margin-bottom: 0px;
    padding: 1.5vw;
    border-radius: 25px;
    max-width: 1000px;
}
.postcontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
    flex-wrap: nowrap;
}
.postimage {
    border: 3px solid #7735ad;
    margin: 12px;
    align-self: flex-start;
    max-width: 30%;
}
.image {
    width: 100%;
}
p {
    padding-bottom: 10px;
    margin: 0px;
}
h1 {
    margin: 0px;
    font-size: 375%;  
}
h1, h2, h3{
    color: #7735ad;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-size: 40px;
    margin: .75vw;
}
#links svg {
    fill: #7735ad;
}
#links div {
    width: 50px;
    padding: 6px;
}
#links{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}
.navbaritem a {
    text-decoration: none;
    font-size: 200%;
    text-transform: uppercase;
    font-weight: bold; 
    color: #7735ad;
}
.navbaritem {
    padding: 10px;
    background-color: #ececec;
}
.navbaritem:hover{
    animation: border .2s linear 0s 1;
    padding: 4px;
    border: 6px solid #7735ad
}
@keyframes border {
    from {border: 0px solid #9683a5; padding: 10px;}
    to {border: 6px solid #7735ad; padding: 4px;}
}
@keyframes borderactive {
    from {border: 6px solid #7735ad; padding: 4px;}
    to {border: 6px solid #7735ad; padding: 4px;}
}
#activepage:hover {
    animation: borderactive .2s linear 0s 1;
    padding: 4px;
    border: 6px solid #7735ad;
}
#activepage {
    padding: 4px;
    border: 6px solid #7735ad;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ececec;
}



